@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Montserrat', sans-serif !important;
}

html {
    scroll-behavior: smooth;
}

.a, .btn {
    transition: all 300ms ease;
}



/* NAVIGATION */

.navbarcontainer {
    position: fixed !important;
    left: 20px !important;
    right: 20px !important;
    top: 10px !important;
    
    z-index: 10;
}

#navbar-desktop {
    border-radius: 20px !important;
    height: 50px;
    padding-top: 10px;
    background-color: #176B87;
    border: none;
    box-shadow: 0px 0px 6px rgba(0,0,0,.4);
}

nav {
    display: flex ;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.navbar-links{
    display: flex;
    gap: 3rem;
    font-weight: bold;
    font-size: 22px;
    list-style: none;
    justify-content: space-between;
}

.header-title {
    color: #DAFFFB;
    font-size: 22px;
}

.navbar-links a {
    color: #DAFFFB !important; 
    text-decoration: none !important;
    text-decoration-color: white !important;
    font-family: 'Sometype Mono', monospace;
}

.navbar-links a:hover {
    color: #64CCC5 !important;
    text-decoration: underline !important;
    text-underline-offset: .5rem !important;
}

.logo:hover{
    cursor: default;
}

#navbar-hamburger {
    display: none;
    background-color: #176B87;
}

.hamburger-menu{
    position: relative;
    /* no pblm if removed */
    /* display: inline-block */
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: #04364A;
    transition: all 300ms ease-in-out;
}

.menu-links {
    /* testing if this would work */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #DAFFFB;
    gap: 2rem; */
    /* justify-content: space-between; */
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    /* no pblm if removed */
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all .3 ease-in-out;
}

.menu-links a{
    /* no pblm if removed only some spacing issue */
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #176B87;
    text-decoration: none;
    transition: all .3 ease-in-out;
}
.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg)translate(10px, 5px)  ;
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg)translate(10px, -5px)  ;
}

.home-grid-container {
    display: grid;
    grid-template-columns: 1fr 400px;
}

.mypic-home {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    object-fit: cover;
    object-position: center;
}

.mypic-home-div, .content-home-div {
    text-align: center !important;
}

.homesection {
    margin-top:60px;
}

.hello-world  {
    font-weight: bold;
    font-size: 50px;
}

.hello-world span:first-child {
    font-weight: bold;
    font-size: 50px;
    color: #176B87;
}

.hello-world span:last-child {
    font-weight: bold;
    font-size: 50px;
    color: #64CCC5;
}

.content__container__text, .content__container__list__item {
    font-family: 'Open Sans', sans-serif !important;
}
.name-intro {
    font-size: 30px;
    font-family: 'Michroma', sans-serif;
    font-size: 3em;
}

.name-intro span:first-child {
    color: #64CCC5;
}

.name-intro span:last-child {
    color: #176B87;
}

.name-desc {
    color: #176B87; 
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;

    /* The typwriter cursor */
    /* border-right: .15em solid orange;  */
}

.mobile-name-desc.first, .mobile-name-desc.second, .desktop-name-desc {
    -webkit-animation: type 4s steps(40, end);
    animation: type 4s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


.mobile-name-desc.second {
    opacity: 0;
    animation-delay: 2s;
}

/* The typing effect */
@keyframes type {
    0% { width: 0;}
    1% {opacity: 1; visibility: visible; }
    100% { width: 100%; opacity: 1; }
}


/* The typewriter cursor effect */
/* @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  } */

.mobile-name-desc {
    display: none;
}

@media screen and (max-width: 1200px) {
    .desktop-name-desc {
        display: none;
    }
    .mobile-name-desc {
        display: block
    }    
}



.download-resume {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #176B87;
    color: white;
    text-decoration: none;
    box-shadow: 0px 0px 6px rgba(0,0,0,.4);
}


.home-container {
    box-shadow: 3px 3px 1px -1px white;
    padding-bottom: 100px;
    margin-bottom: 100px;
}
.about-us-container {
font-family: 'Outfit', sans-serif;
font-size: 20px;
color: #DAFFFB;
}

.about-us-container p {
 margin-top: 25px;
 margin-bottom: 25px;
}



.flip-card-inner {
    background-color: #176B87;
    position: relative;
}
  
.flip-card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }

  .flip-card-front {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.whoami-title {
    font-family: 'Michroma', sans-serif;
}
.whoami-desc {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
} */

/* .flip-card-front, .flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  
  .flip-card-back {
    transform: rotateY(180deg);
  } */


.about-us-container p:first-child {
    font-size: 50px;
}


 /* Experience Section  */

ul.experience-list {
    list-style: none;
}

.experience-list li {
    background: #176B87;
    color: #fff;
    margin: 0 0 30px 0;
    padding: 13px;
    border-radius:  0em 2px 1em 1em;
    padding-left: 2em;
    font-size: 14px;
}

.experience-list li:nth-child(even){
    background-color: #64CCC5;
}

.experience-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 100px;
}

.experiencesection hr {
    border-width: 8px;
    color: #176B87
}

.arrow-container {
    padding-top: 50px;
}
.arrow {
  width: 40px;
  height: 40px;
}

.bounce {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }


.experiencesection {
    width: 90%
}

.experience-head-section h1{
    color: #176B87;
    font-family: 'Abril Fatface', serif;
}


.experience-head-section .company-name{
    color: #64CCC5;
    font-family: 'Abril Fatface', serif;
}

.experience-head-section .company-role-description {
    padding-top: 30px;
    color: #176B87;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
}

.arrow-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.experience-head-section {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    flex-direction: column; 
}

.experience-head-section div {
    width:50%;
}

@media screen and (max-width: 1200px) {
    .experience-head-section div {
        width:100%;
    }  
}


.exp-item {
    /* box-shadow: 0px 0px 6px rgba(0,0,0,.4); */
    margin-top: 15px;
    padding: 5px;
    padding-top: 30px;
}

.project-list-item {
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    color: #176B87;
    cursor: pointer;
}

.collapseSection {
    overflow: hidden;
    transition: 1.5s max-height;
  }
  
  .collapseSection > div {
    overflow: auto;
  }

.techContainer {
    margin-top: 30px;
    background-color: #176B87;
    color: #DAFFFB;
    padding-bottom: 30px;
}


.technology-title {
    font-family: 'Michroma', sans-serif;
    text-align: center;
    font-size: 5vh;
}

.technology-list {
    text-align: center;
}

.tech-icon {
    width: 60px;
}

.tech-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
}

@media screen and (max-width: 1200px) {
    .technology-title {
        margin-bottom: 25px;
    }  
}

.tech-item:hover .tech-icon{
    opacity: 0.3;
}

.tech-item:hover .tech-item-name{
    opacity: 1;
}

.tech-item {
    position: relative;
}

.tech-item-name {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    opacity: 0;
    font-size: 3vh;
    transition: .5s ease;
}

.footer-container {
    margin-top: 100px;
    padding-bottom: 40px;
}
.contact-title {
    font-family: 'Michroma', sans-serif;
    font-size: 5vh;
    color: #176B87;
    text-align: center;
}
.contact-list-1 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.email {
    font-family: 'Michroma', sans-serif;
    font-size: 2vh;
    color: #176B87;
    padding-right: 10px;
}
.phone {
    font-family: 'Michroma', sans-serif;
    font-size: 2vh;
    color: #176B87;
    padding-left: 10px;
}

.contact-list-2 {
    display: flex;
    justify-content: center;
}

.social-media-icon {
    width: 20px;
    color: #64CCC5;
}

.social-media {
    margin-left: 10px;
    margin-right: 10px;
}








